{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<section class="container">
    <div class="bg-light p-3">
        <h1>Le panier est vide</h1>
    </div>
</section>
{% endblock %}
