<h1>La Nîmes'alerie, bonjour !</h1>
<p>
    Une demmande de reinitialisation de mot de passe a été effectuée pour le site La Nimes'alerie. Veuillez cliquer<a href="{{ url }}">ici</a>.
</p>
<p>
    Cordialement !
</p>
