<h1>La Nîmes'alerie, bonjour !</h1>

<p>Une demmande de reinitialisation de mot de passe a été effectuée pour le site La Nimes'alerie.</p>

<p>Pour changer votre mot de passe, veuillez cliquer sur le lien "Réinitialiser mon mot de passe" ci-dessous.</p>

<a href="{{ url }}">Réinitialiser mon mot de passe</a>.

<p>Cordialement !</p>

<h4>M. Carpard</h4>

<h2>La Nîmes'alerie</h2>
