{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<section class="bg_section">
    {{ form_start(emailForm) }}
        {{ form_row(emailForm.email, {"label": "Email", "attr": {'class':'form-control'}}) }}
        {{ form_row(emailForm.envoyer, {"label": "Envoyer", "attr": {'class':'form-control'}}) }}
    {{ form_end(emailForm) }}
</section>
{% endblock %}
