{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

<section class="bg_section">
    <h2>Entrez votre nouveaux mot de passe</h2>
    <form methode="post">
        <label for="pass">Mot de passe</label>
        <input type="password" name="passeword" id="pass">
        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit">Valider</button>
    </form>
</section>
{% endblock %}
