<footer class="pt-5">
    <div class="container">
        <section>
            <div>
                <img class="rounded w-75" src="{{ asset('img/logo/logo-chatChien_3.jpg') }}" alt="Logo de l'entreprise">
            </div>
        </section>
        <section class="row pt-5 border-bottom border-white pb-3">
            <div class="col-12 col-md-6 mb-sm-4">
                <p class="fs-5">NAVIGATION</p>
                <div class="">
                    <p><a href="">CGV</a></p>
                    <p><a href="">Mention légal</a></p>
                    <p><a href="">Politique de confidentialité</a></p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <p class="fs-5">COMMANDE</p>
                <div class="">
                    <p><a href="">Livraison offerte</a></p>
                    <p><a href="">Paiement securisé</a></p>
                </div>
            </div>
        </section>
        <section class="py-4">
            <div class="d-flex justify-content-center d-md-none pb-5">
                <p class="pt-3">Suivez-nous: </p>
                <a href="https://www.facebook.com"><img class="facebook" src="{{ asset('img/logo/logo_facebook.png') }}" alt="logo facebook"></a>
                <a href="https://www.instagram.com"><img class="instagram" src="{{ asset('img/logo/logo_instagram_footer.jpg') }}" alt="logo instagram"></a>
                <a href="https://www.twitter.com"><img class="twitter" src="{{ asset('img/logo/logo_twitter.png') }}" alt="logo twitter"></a>
            </div>
            <p class="text-center m-0 pb-2">&copy;copyrights <strong>La Nîme'alerie</strong>.</p>
        </section>
    </div>
</footer>