<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}"/>    
    {% endblock %}
    <title>Document</title>
</head>
<body class="menuDeroulant">
<section class="header">
    <nav class="wrapper">
        <ul>
            <li>
                <a href="" title="Chien">Chien</a>
                <ul class="sub_menu">
                    <li>
                        <a href="" title="Alimentation">Alimentation</a>
                    </li>
                    <li>
                        <a href="" title="Niche">Niche</a>
                    </li>
                    <li>
                        <a href="" title="Jouet">Jouet</a>
                    </li>
                    <li>
                        <a href="" title="Soin">Soin</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" title="Chat">Chat</a>
                <ul class="sub_menu">
                    <li>
                        <a href="" title="Alimentation">Alimentation</a>
                    </li>
                    <li>
                        <a href="" title="Niche">Niche</a>
                    </li>
                    <li>
                        <a href="" title="Jouet">Jouet</a>
                    </li>
                    <li>
                        <a href="" title="Soin">Soin</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" title="Poisson">Poisson</a>
                <ul class="sub_menu">
                    <li>
                        <a href="" title="Alimentation">Alimentation</a>
                    </li>
                    <li>
                        <a href="" title="Niche">Niche</a>
                    </li>
                    <li>
                        <a href="" title="Jouet">Jouet</a>
                    </li>
                    <li>
                        <a href="" title="Soin">Soin</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</section>
</body>
</html>


