<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="menuDeroulant">
<header class="nav" id="navbar">
    <a href="" title="Alimentation">Alimentation</a>
    <a href="" title="Niche">Niche</a>
    <a href="" title="Jouet">Jouet</a>
    <a href="" title="Soin">Soin</a>
</header>
</body>
</html>


