{% extends 'base.html.twig' %}


{% block body %}
    <section class="bg_color p-2 py-5">
        <div class="container">
            <h2 class="mb-4">{{ title }}</h2>
            <div class="cgv">
                <h5>PRÉAMBULE</h5>
                <p>
                    Les présentes conditions générales de vente régissent l’ensemble des relations entre la société A.G.C., SAS au capital de 1 500 €, dont le siège social est situé Rue Pierre-Georges 
                    Latécoère, parc des Essarts, 42160 ANDREZIEUX-BOUTHEON, immatriculée au Registre du Commerce et des Sociétés de St-Etienne sous le numéro 509 860 755, et ses Clients. Étant précisé que 
                    le site www.animalerie.store et la boutique ANIMALERIE.STORE sont la propriété de la société A.G.C., en sa totalité, ainsi que l'ensemble des droits y afférents. Toute reproduction, 
                    intégrale ou partielle, est systématiquement soumise à l'autorisation des propriétaires.
                </p>

                <h5>1. ACCEPTATION DES CONDITIONS</h5>
                <p>Le client reconnaît avoir pris connaissance, au moment de la passation de commande, des conditions particulières de vente énoncées dans ce document et déclare expressément les accepter 
                    sans réserve. Les présentes conditions générales de vente régissent les relations contractuelles entre la Société A.G.C. et son client, les deux parties les acceptant sans réserve. 
                    Ces conditions générales de vente prévaudront sur toutes autres conditions figurant dans tout autre document. Cette acceptation consistera dans le fait, pour l’internaute, de cocher la case 
                    correspondant à la phrase suivante : « J'ai lu les conditions générales de vente et j'y adhère sans réserve. ».
                </p>

                <h5>2. PRODUITS</h5>
                <p>Les photographies illustrant les produits, n'entrent pas dans le champ contractuel. Si des erreurs s'y sont introduites, en aucun cas, la responsabilité de la Société A.G.C. ne pourra 
                    être engagée. Bien que faisant tout notre possible, les produits présentés ne sont pas tous tenus en stock sur notre plateforme. Nous utilisons également les plateformes de nos fournisseurs 
                    et certains produits réalisés spécifiquement, voir sur mesure, ne peuvent être tenu en stock.
                </p>

                <h5>3. COMMANDE</h5>
                <p>
                    Le Client est invité à créer un compte ou à se connecter à son compte en cas d’enregistrement préalable, afin de passer commande sur le site www.animalerie.store. Le processus de commande 
                    est le suivant : sélection des articles, validation des données personnelles et de l’adresse de livraison, choix du mode de livraison, confirmation de la commande et du paiement. Les systèmes 
                    d'enregistrement automatique sont considérés comme valant preuve, de la nature, du contenu et de la date de la commande. La Société A.G.C. confirme l'acceptation de sa commande au client à 
                    l'adresse mail que celui-ci aura communiqué. La vente ne sera conclue qu'à compter de la confirmation de la commande. La société A.G.C. se réserve le droit d'annuler toute commande d'un client 
                    avec lequel existerait un litige relatif au paiement d'une commande antérieure. Les informations énoncées par l'acheteur, lors de la prise de commande engagent celui-ci: en cas d'erreur dans 
                    le libellé des coordonnées du destinataire, le vendeur ne saurait être tenu responsable de l'impossibilité dans laquelle il pourrait être de livrer le produit.
                </p>

                <h5>4. LIVRAISON</h5>
                <p>Apres confirmation de commande, la Société A.G.C. s'engage à remettre au transporteur, toutes les références commandées par l'acheteur et ce dans un délai maximum de 5 ouvrés. 
                    Ce transporteur s'engage lui à livrer la commande à l'adresse de l'acheteur fournie par la société AG.C.. Pour les livraisons hors de la France métropolitaine le client s'engage à régler 
                    toutes les taxes dues à l'importation de produits, droit de douane, taxe sur la valeur ajoutée, et toutes autres taxes dues en vertu des lois du pays de réception de la commande. 
                    La Société A.G.C. se dégage de fait de toutes responsabilités juridiques si l'acquittement des taxes n'était pas effectué par le client. La livraison sera effectuée par transporteur ou par 
                    la poste suivant le choix de transport de la société A.G.C. en France Métropolitaine. Les retards de livraison éventuels ne peuvent donner lieu à aucune pénalité ou indemnité, ni motiver 
                    l’annulation de la commande. Dans les cas d'un produit technique, le client veillera particulièrement à vérifier le bon fonctionnement de l'appareil livré, à lire la notice d'emploi qui 
                    lui est fournie. En cas de défauts apparents, l'acheteur bénéficie du droit de retour dans les conditions prévues dans ce document. Sont considérés comme cas de force majeure déchargeant 
                    le vendeur de son obligation de livrer, la guerre, l'émeute, les grèves, les accidents, l'impossibilité d'être approvisionné, l'incendie, l’inondation et autres catastrophes naturelles. 
                    Les marchandises voyagent toujours aux risques et périls du destinataire. Vérifiez toujours votre colis à l'arrivée. Vous disposez d'un délai de 48 heures pour faire d'éventuelles réserves 
                    auprès du transporteur en cas de manquant ou de dégradation. Pour des raisons de disponibilité, une commande peut être livrée en plusieurs fois au client. Le client ne règle alors qu'une 
                    seule livraison. Si le client souhaite plusieurs dates et/ou lieux de livraison, il passe autant de commandes que nécessaires, avec les frais de livraison liés.

                    Le transfert des risques sur les produits vendus s’effectue à la remise des produits au transporteur. Ils voyagent ainsi aux risques et périls du Client qui, s’il le souhaite à la possibilité 
                    de souscrire une assurance complémentaire.
                </p>

                <h5>5. RETOUR</h5>
                <p>Le retour des produits donnera lieu à un avoir, égal au prix d'achat du ou des produit(s) acheté(s) ou remplacement par un autre produit égal au prix d'achat. L'avoir ne comprend pas les 
                    frais éventuels de livraison. Une déduction forfaitaire de cinq (5) €uros sera retenue pour les retour d'articles dont les frais de port ont été offert.  Dès le traitement de votre retour, 
                    nous vous enverrons un email (si connu) vous informant du montant de votre avoir.
                </p>

                <h5>6. RÉTRACTATION</h5>
                <p>Conformément à l'article L 121-20 du Code de la Consommation, vous avez 7 jours (à compter de la réception des articles) pour vous faire une opinion. Le droit de rétractation ne peut être 
                    exercé pour les produits personnalisés et fabriqués sur commande, conformément à la règlementation en vigueur. Il ne peut non plus être exercé pour des produits endommagés ou descellés. 
                    En cas d'échange ou remboursement, renvoyez le(les) article(s) neuf(s) sans que le conditionnement ait été ouvert, dans son (leurs) emballage d'origine, intact, accompagné de tous les 
                    accessoires éventuels, notices d'emploi et documentations originales et avec sa facture à l'adresse suivante : A.G.C. – ANIMALERIE.STORE – 480 rue Pierre-Georges Latécoère - Parc des Essarts -
                    42160 ANDREZIEUX-BOUTHEON. En cas d'exercice du droit de rétractation, la Société A.G.C. est tenue au remboursement des sommes versées par le client, sans frais, à l'exception des frais de 
                    transport aller et retour. Le remboursement est dû dans un délai maximum de 30 jours.
                </p>

                <h5>7. PRIX</h5>
                <p>Conformément à l'article L 121-20 du Code de la Consommation, vous avez 7 jours (à compter de la réception des articles) pour vous faire une opinion. Le droit de rétractation ne peut être 
                    exercé pour les produits personnalisés et fabriqués sur commande, conformément à la règlementation en vigueur. Il ne peut non plus être exercé pour des produits endommagés ou descellés. 
                    En cas d'échange ou remboursement, renvoyez le(les) article(s) neuf(s) sans que le conditionnement ait été ouvert, dans son (leurs) emballage d'origine, intact, accompagné de tous les 
                    accessoires éventuels, notices d'emploi et documentations originales et avec sa facture à l'adresse suivante : A.G.C. – ANIMALERIE.STORE – 480 rue Pierre-Georges Latécoère - Parc des Essarts - 
                    42160 ANDREZIEUX-BOUTHEON. En cas d'exercice du droit de rétractation, la Société A.G.C. est tenue au remboursement des sommes versées par le client, sans frais, à l'exception des frais de 
                    transport aller et retour. Le remboursement est dû dans un délai maximum de 30 jours.
                </p>

                <h5>8. PAIEMENT</h5>
                <p>Le Client dispose de plusieurs moyens de paiement pour régler ses achats en ligne: par carte bancaire (règlement sécurisé 3D sécure), par chèque, par virement bancaire.
                    Le prix facturé au client est le prix indiqué sur la confirmation de commande adressée par la Société A.G.C..
                    Le prix des produits est payable au comptant le jour de la commande effective. Aucun paiement ne peut se faire à la livraison.
                    En ligne, le système « E-transactions » vous permet de régler via un serveur bancaire du Crédit Agricole Loire Haute-Loire dans un environnement sécurisé. Le paiement par carte bancaire peut 
                    également se faire ponctuellement par téléphone. La commande validée par le client ne sera considérée effective que lorsque les centres de paiement bancaire concernés auront donné leur accord.
                    En cas de refus des dits centres, la commande sera automatiquement annulée et le client prévenu par courrier électronique. En cas de paiement par chèque et par virement, les produits commandés
                    sont réservés au Client pendant une période de 14 jours. Passé ce délai, et sans réception du règlement, les produits seront automatiquement remis en vente. Les délais de livraison communiqués
                    au Client s’entendent à compter de la réception du paiement par A.G.C.. Cette réception fera l’objet d’un accusé de réception de la part d’A.G.C. qui sera adressé au Client Par ailleurs, la 
                    Société A.G.C. se réserve le droit de refuser toute commande d'un client avec lequel existerait un litige.
                </p>


                <h5>9. LITIGES ET ATTRIBUTION DE JURIDICTION</h5>
                <p>Le présent contrat est soumis au droit français. La Société A.G.C. ne peut être tenue pour responsable des dommages de toute nature, tant matériels qu'immatériels ou corporels, qui 
                    pourraient résulter d'un mauvais fonctionnement ou de la mauvaise utilisation des produits commercialisés. Il en est de même pour les éventuelles modifications des produits résultant des 
                    fabricants. La responsabilité de la Société A.G.C. sera, en tout état de cause, limitée au montant de la commande et ne saurait être mise en cause pour de simples erreurs ou omissions qui 
                    auraient pu subsister malgré toutes les précautions prises dans la présentation des produits En cas de difficultés dans l'application du présent contrat, l'acheteur a la possibilité, avant 
                    toute action en justice, de rechercher une solution amiable notamment avec l'aide : d'une association professionnelle de la branche , d'une association de consommateurs ou de tout autre 
                    conseil de son choix . Il est rappelé que la recherche de la solution amiable n'interrompt pas le " bref délai " de la garantie légale, ni la durée de la garantie contractuelle. Il est 
                    rappelé qu'en règle générale et sous réserve de l'appréciation des Tribunaux, le respect des dispositions du présent contrat relatives à la garantie contractuelle suppose que l'acheteur 
                    honore ses engagements financiers envers le vendeur.
                    Les réclamations ou contestations seront toujours reçues avec bienveillance attentive, la bonne foi étant toujours présumée chez celui qui prend la peine d'exposer ses situations. En cas de 
                    litige, le client s'adressera par priorité à l'entreprise pour obtenir une solution amiable. A défaut, le Tribunal de Commerce de SAINT ETIENNE (France) est seul compétent, quels que soient 
                    le lieu de livraison et le mode de paiement acceptés.
                </p>

                <h5>10. GARANTIE</h5>
                <p>Dans tous les cas la Société A.G.C. ne pourra être tenue pour responsable pour non respect des dispositions réglementaires et législatives en vigueur dans le pays de réception, 
                    la responsabilité de la Société A.G.C. est systématiquement limitée à la valeur du produit mis en cause, valeur à sa date de vente et ce sans possibilité de recours envers la marque ou 
                    la société productrice du produit. En toute hypothèse, le client bénéficie de la garantie légale d'éviction et des vices cachés (Art.1625 et suivants du Code Civil). A la condition que 
                    l'acheteur fasse la preuve du défaut caché, le vendeur doit légalement en réparer toutes les conséquences (art.1641 et suivants du code civil) ; si l'acheteur s'adresse aux tribunaux, il 
                    doit le faire dans un " bref délai " à compter de la découverte du défaut caché (art.1648 du code civil). Vous pouvez contacter le service clients : 5 jours sur 7 ( du lundi au vendredi 
                    inclus de 9h30 à 17h00) au Numéro de téléphone figurant sur le site www.animalerie.store ou par mail à agc@animalerie.store.
                </p>

                <h5>11. INFORMATIONS LÉGALES</h5>
                <p>Le renseignement des informations nominatives collectées aux fins de la vente à distance est obligatoire, ces informations étant indispensables pour le traitement et l'acheminement 
                    des commandes, l'établissement des factures et contrats de garantie. Le défaut de renseignement entraîne la non validation de la commande. Conformément à la loi 78-17 du 6 janvier 1978, 
                    relative à l’informatique, aux fichiers et aux libertés, le traitement des informations nominatives relatives aux clients a fait l'objet d'une déclaration auprès de la Commission Nationale 
                    de l'Informatique et des Libertés (CNIL) ) sous le numéro d’enregistrement 1989345. Le client dispose d'un droit d'accès, de modification, de rectification et de suppression des données qui 
                    le concernent. De plus, la société A.G.C. s'engage à ne pas donner les coordonnées de ses clients à un tiers.
                </p>

                <h5>12. INTÉGRALITÉ</h5>
                <p>Dans le cas où l'une des clauses des présentes conditions générales venait à être déclarée définitivement nulle par une décision de justice, cette disposition serait considérée 
                    comme détachable du présent contrat et les autres clauses considérées comme valides resteraient en vigueur.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
