{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

<section class="container py-5">
    <h3>Ma livraison</h3>
    <p>Choisissez la livraison pour vos articles: </p>
    <div class="border border-dark bg-white p-3 rounded">
        <p>yuio</p>
    </div>
</section>
{% endblock %}