{% extends 'base.html.twig' %}

{% block body %}
    <section class="bg_color p-2 py-5">
        <div class="container">
            <h2 class="mb-3">Mentions légales</h2>
            <div class="mentionLegal">
                <h5 class="pt-3">EDITEUR DU SITE</h5>
                <p> A.G.C. </p>
                <p> 480, Rue Pierre-Georges Latécoère</p>
                <p> Parc des Essarts</p>
                <p>42160 ANDREZIEUX-BOUTHEON</p> 
                <p>France</p> 
                <p>Tel : +33 (0)4 77 83 92 21</p>
                <p>Courriel : agc@animalerie.store</p> 
                <p>Société par Actions Simplifiée</p>
                <p>Capital social : 1500€</p>
                <p>RCS Saint-Etienne n° 509 860 755</p>
                <p>TVA intracommunautaire : FR44 509 860 755</p>
                <p>Représentée par Monsieur Samuel MAISONNEUVE, Président</p>

                <h5 class="pt-3">DIRECTEUR DE PUBLICATION</h5>
                <p>Monsieur Samuel MAISONNEUVE</p>

                <h5 class="pt-3">HÉBERGEUR DU SITE</h5>
                <p>1&1 Internet SARL</p> 
                <p>7, place de la Gare</p> 
                <p>BP 70109</p> 
                <p>57201 Sarreguemines Cedex</p>
                
                <h5 class="pt-3">WEBMASTER</h5>
                <p>Les Imageurs
                <p>67 rue Désiré Claude</p>
                <p>42100 SAINT-ETIENNE</p> 
                <p>France</p> 
                <p>+334 77 25 79 98</p> 
            </div>
        </div>
    </section>
{% endblock %}
