{% extends 'base.html.twig' %}

{% block body %}
    <section class="bg_color p-2 py-5">
        <div class="container">
            <h2 class="mb-3">{{ title }}</h2>
            <div class="mentionLegal">
                <h5 class="pt-3">EDITEUR DU SITE</h5>
                <p>La Nimes'alerie</p>
                <p>148 Rue Jean Lauret</p>
                <p>Centre Commercial Carré Sud</p>
                <p>30000 Nîmes</p> 
                <p>France</p> 
                <p>Tel : +33 (0)4 78 84 93 22</p>
                <p>Courriel : agence@lanimesalerie.store</p> 
                <p>Société par Actions Simplifiée</p>
                <p>Capital social : 1500€</p>
                <p>RCS Saint-Etienne n° 755 974 738</p>
                <p>TVA intracommunautaire : FR44 755 974 738</p>
                <p>Représentée par Monsieur CAPARD, Président</p>

                <h5 class="pt-3">DIRECTEUR DE PUBLICATION</h5>
                <p>Monsieur CAPARD</p>
            </div>
        </div>
    </section>
{% endblock %}
