{% extends 'base.html.twig' %}


{% block body %}
<section class="m-4">

    <h1>Voici votre recu</h1>

    <div class="">
        <table class="table mt-2">
            <thead>
                <tr>
                    <th>Réf.produit</th>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Prix HT</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="structure">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <a class="lien" href="/">Retour à la page d'accueil</a>
</section>

{% endblock %}