{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des catégories</h1>
<a href=" {{ path('add_Category') }} "><button class="bouton">Ajouter une catégorie</button></a>

    {% for category in categorys %}
        <li>{{ category.name }}</li>
    {% endfor %}

{% endblock body %}