{% extends 'base.html.twig' %}

{% block title %}Liste des catégorie !{% endblock %}

{% block body %}
    
    <h1>{{ category.name }}</h1>
    <h1>{{ category.description }}</h1>
    <h1>{{ category.image }}</h1>
    
{% endblock %}
