<form method="post" action="{{ path('adress_admin_delete', {'id': adress.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adress.id) }}">
    <button class="lien_2">Supprimer</button>
</form>
