<form method="post" action="{{ path('adress_admin_delete', {'id': adress.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adress.id) }}">
    <button class="lien_2">Oui, supprimer</button>
</form>
