{% extends 'base.html.twig' %}

{% block title %}Hello NewOrderController!{% endblock %}

{% block body %}
<h1>Votre commande à bien été créer</h1>

<a href="">Afficher votre reçu</a>

{% endblock %}
