<form method="post" action="{{ path('sub_category_delete', {'id': sub_category.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sub_category.id) }}">
    <button class="lien_2">Oui, supprimer</button>
</form>
