<form method="post" action="{{ path('adress_delete', {'id': adress.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet adresse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adress.id) }}">
    <button class="btnAddress2 pt-0">Supprimer</button>
</form>
