<form method="post" action="{{ path('order_delete', {'id': order.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="lien_2">Supprimer</button>
</form>
